
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<nav>
    <ul>
        <li>@Html.ActionLink("Home Page", "Index", "Society")</li>
        <li>@Html.ActionLink("Member Register", "MemberRegister", "Society")</li>
        <li>@Html.ActionLink("Member Login", "MemberLogin", "Society")</li>
        <li>@Html.ActionLink("Rentor Register", "RentorRegister", "Society")</li>
        <li>@Html.ActionLink("Rentor Login", "RentorLogin", "Society")</li>

    </ul>
</nav>