@model SocietyApp.Models.Premis

@{
    ViewBag.Title = "DetailsPremise";
}

<h2>DetailsPremise</h2>

<div>
    <h4>Premis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PremiseID }) |
    @Html.ActionLink("Back to List", "PremisesUI")
</p>
